@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --cor-1: #462D24;
  --cor-2: #000;
  --cor-3: #9A7B4A;
  --cor-4: #fff;
  --cor-5: #BA9E66;
  --origem-1: #D4B273;
  --origem-2: #B09158;
  --lenda-: #462D24;
  --videos-: #301E18;
  --footer-: #231612;
}

header {
  width: 100%;
  height: 100%;
}


.container {
  width: 100%;
  height: 10em;
  max-width: 1900px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  width: 100%;
  margin: auto;
  max-width: 1900px;
  margin-top: -2.6px;
}

h1 {
  background-color: var(--cor-1);
  color: var(--cor-5);
  text-align: center;
  padding: .4em;
}

h1 span {
  position: relative;
  bottom: .2em;
}

.containerCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-4);
  z-index: 10;
}

.containerCenter img {
  width: 50px;
}

.containerCenter a {
  text-decoration: none;
  color: var(--cor-1);
  transition: .2s linear;
}

.containerCenter a:hover {
  color: var(--cor-5);
  text-decoration: underline;
}

.containerCenter .listNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  list-style: none;
}

.listNavTop {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: .5em;
}

.listNavBottom {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.6rem;
  padding: .4em;
}

.tipos {
  cursor: pointer;
}

.tipos .menuHover {
  display: none;
  border: solid var(--cor-1);
  border-radius: 1em;
  padding: .5em;
  position: absolute;
  background-color: var(--cor-4);
  width: 150px;
  list-style: none;
  transition: 1s all;
  z-index: 20;
}

.menuHover a {
  margin-bottom: .2em;
}

.tipos:hover .menuHover {
  display: block;
}

.menuHover li:hover {
  width: 100%;
  background-color: var(--cor-3);
  transition: .5s all;

}


/* MODAL  COMEÇO*/

.menu_btn {
  max-width: 200px;
  transition: 2s all;
  z-index: 98;
}

.menu_btn a {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu input {
  border-radius: 2em;
  height: 4em;
  width: 16em;
  padding: .5em;
  margin-right: 1em;
}

.submenu label {
  cursor: pointer;
}

.submenu label img {
  width: 30px;
}

.hover .submenu {
  position: absolute;
  width: 100%;
  height: 5em;
  top: 9.5em;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-4);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

/* MODAL FIM */
/* COMEÇO DA MAIN */

.backgroundCoffe {
  max-width: 1700px;
  margin: 0 auto;
}

.backgroundCoffe img {
  width: 100%;
  height: 869px;
  object-fit: cover;
}

/* SOBRE */

.sobre {
  max-width: 1400px;
  margin: 0 auto;
  height: 40em;
  display: flex;
}

.icons {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}


.icons img {
  width: 90px;
  background-color: var(--cor-4);
  box-shadow: 4px 4px 4px 4px;
  padding: .5em;
  border-radius: 1em;
  cursor: pointer;
  transition: 1s all;
  object-fit: cover;
}

.icons img:hover {
  background-color: var(--cor-5);
}

/* cards */
h4 {
  text-align: center;
  margin-bottom: 1em;
  border-radius: .4em;
  font-size: 1.4rem;
}

.cardHover {
  display: none;
}

.cardGrao {
  width: 80%;
  height: 32em;
  display: block;
  position: absolute;
  top: 67em;
  left: 14em;
  background-color: var(--cor-4);
  z-index: -2;
  border-radius: 1em;
  padding: 3em;
  background-image: url(../../imagens/main/Sobre/cards/coffeGrao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardGrao div {
  background-color: var(--cor-5);
  border-radius: 1em;
  padding: .4em;
  list-style-image: var(--cor-4);
  margin-bottom: 1em;
}

.cardGrao h4 {
  background-color: var(--cor-5);
}

.cardGrao p {
  margin-bottom: 1em;
  padding-left: .4em;
  font-size: 1.1rem;
}


.cardpacote {
  width: 80%;
  height: 36em;
  display: block;
  position: absolute;
  top: 67em;
  left: 15em;
  background-color: var(--cor-4);
  z-index: -2;
  border-radius: 1em;
  padding: 3em;
  background-image: url(../../imagens/main/Sobre/cards/coffeePacote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardpacote div {
  background-color: var(--cor-3);
  border-radius: 1em;
  padding: .4em;
  list-style-image: var(--cor-4);
  margin-bottom: 1em;
}

.cardpacote h4 {
  background-color: var(--cor-3);
}

.cardpacote p {
  margin-bottom: 1em;
  padding-left: .4em;
  font-size: 1rem;
}

.cardgar {
  width: 80%;
  height: 36em;
  display: block;
  position: absolute;
  top: 67em;
  left: 15em;
  background-color: var(--cor-4);
  z-index: -2;
  border-radius: 1em;
  padding: 3em;
  background-image: url(../../imagens/main/Sobre/cards/coffePot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.cardgar div {
  background-color: var(--lenda-);
  border-radius: 1em;
  padding: .4em;
  list-style-image: var(--cor-4);
  margin-bottom: 1em;
}

.cardgar h4 {
  background-color: var(--lenda-);
}

.cardgar p {
  margin-bottom: 1em;
  padding-left: .4em;
  font-size: 1rem;
}

.cardxic {
  width: 80%;
  height: 36em;
  display: block;
  position: absolute;
  top: 67em;
  left: 15em;
  background-color: var(--cor-4);
  z-index: -2;
  border-radius: 1em;
  padding: 3em;
  background-image: url(../../imagens/main/Sobre/cards/coffeXicara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.cardxic div {
  background-color: var(--cor-3);
  border-radius: 1em;
  padding: .4em;
  list-style-image: var(--cor-4);
  margin-bottom: 1em;
}

.cardxic h4 {
  background-color: var(--cor-3);
}

.cardxic p {
  margin-bottom: 1em;
  padding-left: .4em;
  font-size: 1rem;
}


/* fim cards */

.sectionText {
  width: 80%;
  padding: 2em;
  z-index: -3;
}

.sectionText p {
  margin-top: 1em;
  font-size: 1.2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1em;
  text-shadow: 1px 1px 5px;
}

/* ORIGEM  */

.origem {
  max-width: 1400px;
  margin: 0 auto;
  height: 72em;
}

.origem p {
  margin-bottom: 2em;
}

.origemTop {
  background-color: var(--origem-1);
  display: flex;
  height: 36em;
}

.origemTextTop {
  width: 70%;
  padding: 2em;
  color: var(--cor-2);
}

.origemTextTop p {
  font-size: 1.8rem;
  border-radius: 1em;
  padding: .4em;
}

.figSection {
  width: 30%;
}

.figSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.origemBottom {
  display: flex;
  height: 36em;
  background-color: var(--origem-2);
}

.origemTextBot {
  width: 70%;
  height: 50%;
  padding: 2em;
  color: var(--cor-4);
}

.origemTextBot p {
  font-size: 1.3rem;
  padding-left: .4em;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1em;
  text-shadow: 1px 1px 5px;
}

/* LENDA */

.lenda {
  max-width: 1400px;
  margin: 0 auto;
  height: 40em;
  display: flex;
  color: var(--cor-4);
}

.lenda .sectionText {
  background-color: var(--lenda-);

}

.lenda .sectionText p {

  font-size: .9rem;
  padding-left: .4em;
}

/* VIDEOS */

.videos {
  max-width: 1400px;
  margin: 0 auto;
  height: 35em;
  background-color: var(--videos-);
}

.videos h2 {
  color: var(--cor-4);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
}

.videos div {
  display: flex;
  justify-content: space-evenly;
}

footer {
  max-width: 1400px;
  margin: 0 auto;
  height: 20em;
  background-color: var(--footer-);
  padding: 2em 0;
  font-size: .8rem;
}

.infos {
  height: 100%;
  text-align: center;
  color: var(--cor-4);
  display: flex;
  flex-direction: column;

}

.infos .infosFacul {
  padding-bottom: 2em;
}

.infos img {
  width: 150px;
  height: 50px;
  margin-bottom: 2em;
  margin-left: 2em;
}